@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility scrollbar-hidden {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility no-spinner {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

@utility tap-highlight-none {
  -webkit-tap-highlight-color: transparent;
}

@utility pt-safe {
  padding-top: env(safe-area-inset-top);
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

@custom-variant hocus (&:hover, &:focus-visible);
